/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 nov. 2014, 02:55:33
    Author     : Margarita
*/
*{
    margin: 0;
    font-family: Georgia; 
}
html{
    background: black;
    background-image: url(bgn.png); 
    background-repeat: no-repeat;
    height: 100%;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
    background: white;
    min-height: 100%;
    align-self: center;
}
footer {
    background: url(../style/footer.png)no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 240px;
    margin: 0 auto;
    width: 75%; 
    position: relative;
    top: -12%;
    height: 100%;
}

.loginform{
    float: right;
    width: 100%;
    text-align: right;
    padding:0.5% 1%;
}
.loginform table{
    float: right;
}
.authorisation{
    text-align: right;
    //height: 33%;
}

article{
    border-radius: 25 0;
    padding: 0 5%;
    border: 2px #669900 solid;
    margin: 5% 10;
}
article h2{
    color: #669900;
    padding: 2%4%;
    margin: 5;
}
article .datetime{
    color: grey;
    text-align: right;
    font-size: small;
}
.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}