/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 nov. 2014, 02:55:33
    Author     : Margarita
*/
*{
    margin: 0;
    font-family: Georgia; 
}
html{
    background: black;
    background-image: url(bgn.png); 
    background-repeat: no-repeat;
    height: 100%;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
    background: white;
    min-height: 100%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
}
footer {
    background: url(../style/footer.png)no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    margin: 0 auto;
    width: 75%; 
    position: relative;
    top:120;
    height: 100%;
}

.content{
    position: relative;
    top: 120;
    background: white;
    padding: 10;
}

.loginform{
    float: right;
    width: 100%;
    text-align: right;
    padding:0.5% 1%;
}
.loginform table{
    float: right;
}
.authorisation{
    text-align: right;
    //height: 33%;
}

article{
    border-radius: 25 0;
    padding: 0 5%;
    border: 2px #669900 solid;
    margin: 2% 10;
    box-shadow: 0 0 15px rgba(90, 121, 15, 1);
}
article h2{
    color: #669900;
    padding: 2%4%;
    margin: 5;
}
article .datetime{
    color: grey;
    text-align: right;
    font-size: small;
    margin-bottom: 10px;
}
.line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}
a{
    color:  #4B7002;
}
a:hover{
    color:  #669900;
}
a.contact{
     color: #000000; text-decoration: none
}
input:focus{
    outline-color: green;
border: 1px solid rgba(3, 195, 3, 0.5);
//box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.28)
}