/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 nov. 2014, 02:55:33
    Author     : Margarita
*/
*{
    margin: 0;
    font-family: Georgia; 
}
html{
    background: #444;
    background-image: url(bgn.png); 
    background-repeat: no-repeat;
    height: 100%;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
    background: white;
    min-height: 100%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
}
footer {
    background: url(../style/footer.png)no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ ?? Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* ????????????????????? ?????????????? */
    margin: 0 auto;
    width: 75%;
    height: 50%
}

.content{
    background: white;
    padding-bottom: 10%;
}

.loginform{
    width: 100%;
    padding:0.5% 1%;
    margin-left: 60%;
}

article{
    border-radius: 25px 0;
    padding: 5%;
    text-align: justify;
    border: 2px #669900 solid;
    margin: 2% 5%;
    box-shadow: 0 0 15px rgba(90, 121, 15, 1);
    font-size: large;
}
article h2{
    color: #669900;
    padding: 0 4%; 
    margin: 5; 
}
article h3{
    color: #669900;
    padding: 2%4%; 
    margin: 5; 
}
article .datetime{
    color: grey;
    text-align: right;
    font-size: small;
    margin-bottom: 10px;
}
article img{
    max-width: 700px;
    max-height: 400px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin: 0 auto;      display: block;
}
article ul li{
    color: black;
}
.line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}
#paging{
    text-align: center;
    color:  #4B7002;
}
a{
    color:  #4B7002;
}
a:hover{
    color:  #669900;
}
a.contact{
    color: #000000; text-decoration: none
}
input:focus{
    outline-color: green;
    border: 1px solid rgba(3, 195, 3, 0.5);
    //box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.28)
}
.lang_rus{
    border: 0px;
    height: 30px;
    margin: 5px;
    width: 45px;
    float: right;
    background: #ccc url('../style/rus.jpg') no-repeat top left;
}
.lang_fr{
    border: 0px;
    height: 30px;
    margin: 5px;
    width: 45px;
    float: right;
    background: #ccc url('../style/fra.jpg') no-repeat top left;
}
.menu1{float: left;}
nav{
    height: 45px;
    padding: 0 10% 0 15%;
    background: #F6F6F9;
    margin: 0 0 5px 0;
}
.authorisation{
    margin: 10 2%;
    text-align: right;
}
.registration{
    margin: 5% 35%;
    text-align:  center;
}
.video{
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
p{
    margin: 15 0;
    text-indent: 30;
}
.addContentForm{
    margin: 5% 10%;
    text-align:  center;
}
.addContentForm td { 
    padding: 5px;
    vertical-align: top;
}
.error{
    color:red;
}
.p1{
    text-indent: 0;
    margin: 10px 0;
}
.p1_green{
    text-indent: 0;
    margin: 10px 0;
    color: #669900;
}
#fc{
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{width: 100%}
.logo_1{
    width: 150px;  
                 float: right;
                 margin:0 50px;
}
.logo_2{
    width: 150px;  
                 float: left;
                 margin:0 50px;
}
